body{
    background-color: #f7f1d8;
    margin: 0px;
}

.haut{
        background-color: #4fd4d4;
        display: flex;
        align-items: center;
    }


.texte{
        color: #E4C36D;
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
        font-weight: bold;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 20px;
        padding: auto;
}

.logo{
        color: rgb(255, 170, 58);
 }

.menu{
    margin-right: 10px;
    
}

.recherche{
    padding-right: 11px;
}